@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

body {
  margin: 0;
  /*font-family: 'Mountains of Christmas', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
